div{
    margin:auto;
    border:5px solid blue;
    width:400px;
    padding:10px;
    border-radius: 10px;
}
#name,
#age,
#mobile,
#email,
#password,
#aadhar,
#pan{
    width:300px;
    margin-top:10px;
}
p{
    text-align: center;
    /* display:none; */
}
#button{
    padding:0px 10px;
}